.DS_Store
__pycache__/
*.py[cod]
.venv/
venv/

data/raw/**
!data/raw/.gitkeep
models/**
!models/.gitkeep
uploads/**
!uploads/.gitkeep
reports/**
!reports/.gitkeep

*.mp4
*.mov
*.avi
*.mkv
*.h5
*.keras
*.pt
